.hiringContainer {
  height: 400px;
  background: #E2E4C1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiringContainer p {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin: 30px 350px 0;
  text-align: center;
  width: 40%;
}
