.cardsContainer {
  height: 400px;
  background: #18342f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 71px;
}

.cardsContainer .cards {
  display: flex;
  justify-content: left;
  margin-left: 50px;

}
.cardsContainer .cards section {
  margin-right: 20px;
  color: #FFF;
}

.cardsContainer .cards section h3 {
    margin-top: 15px;
    font-size: 22px;
    font-family: 'Be Vietnam', sans-serif;
}

.cardsContainer .cards section p {
  margin-top: 15px;
  font-family: 'Be Vietnam', sans-serif;
}

.cardsContainer .knowUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 125px;
}

.cardsContainer .knowUs h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  color: #FFF;
  margin-left: -80px;
}
