@import url('https://fonts.googleapis.com/css?family=Gelasio:700&display=swap');

.leadspaceContainer {
  height: 550px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leadspaceContainer h1 {
  font-family: 'Gelasio', serif;
  font-size: 75px;
}

.leadspaceContainer h1 span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.leadspaceContainer .arm {
  width: 100px;
  margin-left: 25px;
  
}

.leadspaceContainer .arrow {
  width: 180px;
  margin-right: 5px;
}
.leadspaceContainer h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 25px;
  margin-top: 35px;
  text-align: center;
}
