.teamContainer {
  height: 400px;
  background: #18342f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

.hrTeam { 
  border: none;
  border-left: 1px solid #FFF;
  height: 225px;
  width: 1px;
  padding: 0px 60px 0 15px;
  margin-left: -65px;     
}

.teamContainer section:first-child {
  margin-left: 50px;
}

.teamContainer section:last-child {
  margin-right: 50px;
}

.teamContainer section h1 {
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.teamContainer section p {
  font-size: 18px;
  color: #FFF;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: normal;
  line-height: 32px;
  width: 80%;
}