.partnerContainer {
  height: 350px;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.partnerContainer .partnerPromotion {
  width: 40%;
  margin-left: 50px;
}

.partnerContainer .partnerPromotion p {
  font-family: 'Be Vietnam', sans-serif;
  line-height: 30px;
  margin-top: 30px;
  font-size: 20px;
}

.partnerContainer .logos {
  margin-right: 10px;
}
.partnerContainer .logos span {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
}

.partnerContainer .logos span img {
  margin: 50px 40px;
}