.futureContainer {
  height: 600px;
  background: #f4f4f4;
  margin-top: 200px;
  display: flex;
}

.futureContainer img {
  width: auto;
  height: 600px;
} 

.futureContainer .betterFutures {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 50px;
  text-align: right;
  background: #f4f4f4;
}

.futureContainer .betterFutures p {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 21px;
  line-height: 25px;
  margin-top: 25px;
  width: 77%;
}
