.foundersContainer {
  height: 600px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foundersContainer > h1 {
  margin: 5px 0 30px;
}
