.foundersContainer {
  height: 600px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.foundersContainer > h1 {
  margin: 5px 0 30px;
}

.founderContainer .founderAvatar {
  width: 28%;
  margin-left: 230px;
 }
 
 .founderContainer .founderInfos {
   float: right;
   margin: 40px 0 0 15px;
 }
 
 .founderContainer .founderInfos h1 {
   font-size: 33px;
   margin-top: 20px;
   font-weight: bold;
 }
 
 .founderContainer .founderInfos p {
   width: 70%;
 }
 
 .founderContainer .founderInfos a {
   color: #F92F56;
   text-decoration: none;
   font-weight: bold;
   font-size: 14px;
 }
 
 .icon {
  color: #000;
  font-size: 100px;
  opacity: 1;
 } 
 
.carousel-control-prev svg {
   opacity: 1 !important;
 }