header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0 50px;
}

header h1 {
  font-weight: bold;
  line-height: 20px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

header h1 span {
  font-size: 30px;
  border-radius: 4px;
  color: #F4DB42;
}

.btns a {
  color: #333;
  background: #FFF;
  border: 1.5px solid rgb(0, 0, 0);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.btns a:first-child {
  margin-right: 10px;
  padding: 10px 20px 10px;
}

.btns a:last-child {
  width: 120px;
  padding: 10px 20px;
}

.btns a svg {
  font-size: 20px;
  margin-left: 45px;
}