.footerContainer {
  height: 500px;
  background: #F4F4F4;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.footerContainer .infos {
  margin: 50px 0 50px 80px;
}

.footerContainer .address {
  margin: 50px 80px 50px 0;
}

.footerContainer .infos h2 {
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  line-height: 14px;
}

.footerContainer .infos h2 span {
  font-size: 27px;
}

.footerContainer .infos p {
  margin-top: 15px;
  font-size: 17px;
  width: 43%;
  color: #1D1D1D;
}
.footerContainer .infos form {
  margin-top: 20px;
}

.footerContainer .infos form input {
  height: 50px;
  width: 300px;
  background: #FFF;
  color: #000;
  font-size: 14px;
  border: 1.5px solid #000;
}

.footerContainer .infos form button {
  width: 70px;
  height: 50px;
  color: #000;
  background: #FFF;
  border: 1.2px solid #000;
  font-size: 14px;
  font-weight: bold;
}

.footerContainer .infos ul {
  list-style: none;
  display: flex;
  margin-top: 100px;
}

.footerContainer .infos ul li {
  margin-right: 18px;
  font-size: 14px;
  font-weight: bold;

}

.footerContainer .infos ul li a {
  color: #F92F56;
  text-decoration: none;
}

.footerContainer .infos p {
  margin-top: 40px;
}

.footerContainer .address {
  text-align: right;
}


.footerContainer .address h2 {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.footerContainer .address p {
  margin-top: 5px;
  line-height: 23px;
  font-size: 14px;
}

.footerContainer .address .iconsList {
  margin-top: 25px;
}

.footerContainer .address .iconsList ul {
  list-style: none;
  display: flex;
}

.footerContainer .address .iconsList ul li {
  margin-right: 10px;
}

.footerContainer .address .iconsList ul li:last-child {
  margin-right: 0;
}
.footerContainer .address .iconsList ul li svg {
  width: 25px;
  height: 25px;
  color: #F4F4F4;
  background-color: #B1B1B1;
  border-radius: 50%;
}

