.newsContainer {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

 .newsContainer h1 {
  margin-bottom: 40px;
  margin-top: 70px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
}

.newsContainer #sections {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-family: Arial, Helvetica, sans-serif;
}

.newsContainer #sections .card1 {
  margin-left: 80px;
}

.newsContainer #sections .card3 {
  margin-right: 50px;
}

.newsContainer #sections section img {
  width: 400px;
}

.newsContainer #sections section p {
  color: #B2B2B2;
  margin-top: 35px;
  font-size: 15px;
}

.newsContainer #sections section p span {
  font-weight: bold;
 color: #F91C46;
 margin-right: 7px;
}

.newsContainer #sections section h2 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.hrNews { 
  border: none;
  border-left: 1px solid #000;
  height: 361px;
  width: 1px;
  padding: 0 9px 0 12px;
}

.newsContainer button {
  width: 230px;
  height: 50px;
  color: #000;
  background: #FFF;
  border: 1.5px solid #000;
  font-weight: bold;
  font-size: 14px;
  margin-top: 45px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsContainer button svg {
  margin-left: 10px;
  font-weight: bold;
  font-size: 26px;
  margin-right: 0;
}