.newsContainer {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

 .newsContainer h1 {
  margin: 70px 0 40px;
}

.newsContainer #sections {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  font-family: Arial, Helvetica, sans-serif;
}

.newsContainer #sections .card1 {
  margin-left: 80px;
}

.newsContainer #sections .card3 {
  margin-right: 50px;
}

.newsContainer #sections section img {
  width: 400px;
}

.newsContainer #sections section p {
  color: #B2B2B2;
  margin-top: 35px;
  font-size: 15px;
}

.newsContainer #sections section p span {
  font-weight: bold;
 color: #F91C46;
 margin-right: 7px;
}

.newsContainer #sections section h2 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}

.hrNews { 
  border: none;
  border-left: 1px solid #000;
  height: 361px;
  width: 1px;
  padding: 0 9px 0 12px;
}
